= simple_form_for @post, class: "form-horizontal" do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  = f.input :title
  = f.input :article, input_html: {class: "redactor"}
  = f.input :summary
  = f.input :category
  .actions
    = f.submit 'Save'
