.post-show
  %h1= link_to @post.title, @post
  %h4.summary= @post.summary

  %article
    = @post.article.html_safe

  .cee-tee-ay
    %section
      %span That's just the start, really. To keep up to date on this,
      = link_to "follow @CSMattRyder on Twitter", "https://twitter.com/CSMattRyder"