/*
*= require_tree .
*= require redactor-rails
*= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Muli);

html { min-height: 100% }

$base-blue: #4c7099;

body {
  font-family: 'Muli', sans-serif;
  color: #333;

  .navbar {
    button {
      border: 1px solid $base-blue;
      padding: 4px 10px;
      margin-top: 12px;
      .icon-bar {
        background-color: $base-blue;
      }
    }
    a {
      color: $base-blue;
      border-bottom: 2px solid #FFF;
      padding-bottom: 7.5px;
      text-transform: uppercase;
      text-align: center;

      &:hover:not(.navbar-brand) {
        transition: border-bottom ease-out 0.5s, border-bottom ease-out 1.25s;
        border-bottom: 1px;
        background: #FFF;
        border-bottom: 2px solid $base-blue;
        color: #3b5777;
      }
    }
  }

  .center-container {
    @extend .col-xs-12;
    @extend .col-sm-8, .col-sm-offset-2;
  }
}
    
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }
    
    .navbar .navbar-collapse {
        text-align: center;
    }
}
