@import "bootstrap";

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.body-intro {
  background: #7192b8 asset-url("intro.png");
  margin-top: -20px;

  .navbar {
    a {
      color: #FFF;
      border-bottom: 2px solid transparent;

      &:hover, &:active {
        border-bottom: 2px solid #FFF !important;
        background: transparent !important;
        color: #FFF !important;
      }
    }
  }

}
  
#intro {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  height: 200px;

  .text {
    @include vertical-align;
  }
}

#intro-content {
  .alpha {
    @extend .col-sm-6, .col-sm-offset-3;
    @extend .col-md-4, .col-md-offset-4;
    section {
      padding-top: 12.5px;
      padding-bottom: 12.5px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  .cee-tee-ay section {
    border-bottom: 0;
  }

  h3 { color: #AAA; }
}
