@import "bootstrap";

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.post-heading {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.post {
  text-align: center;
  padding-bottom: 25px;

  h2 a {
    text-decoration: none;
  }
  p {
    font-size: 1.25em;
    line-height: 1em;
  }
}

.post-show {
  h1 a {
   text-decoration: none;
  }

  h1, .summary {
    text-align: center;
  }

  .summary {
    padding-bottom: 25px;
  }

  article {
    @extend .col-xs-12;
    @extend .col-md-8, .col-md-offset-2;

    font-size: 1.225em;
    line-height: 1em;

    img {
      @extend .img-responsive;
      margin: 0 auto;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  .cee-tee-ay {
    @extend .col-xs-12;
    @extend .col-md-8, .col-md-offset-2;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 15px;
    margin-bottom: 25px;
  }
}