!!!
%html{lang: 'en'}
  %head
    = display_meta_tags :site => 'Matt Ryder, Ruby on Rails Developer', :title => 'Hello', :reverse => true
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{name: 'viewport', content: "width=device-width", "initial-scale" => 1}
  %body{class: "#{'body-intro' if current_page?(root_path)}" }
    %nav.navbar
      .container-fluid
        .center-container
          .navbar-header
            %button.navbar-toggle.collapsed{"data-target" => "#navibar", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{ href: root_path }
              Matt Ryder

          #navibar.collapse.navbar-collapse
            %ul.nav.navbar-nav.navbar-right
              %li
                = link_to "Posts", posts_path
              %li
                = link_to  "Github", "https://github.com/MattRyder"
              %li
                = link_to "LinkedIn", "https://uk.linkedin.com/pub/matt-ryder/a7/a2/668/"
              %li
                = link_to "Twitter", "https://twitter.com/CSMattRyder"

  - if notice.present?
    .notice= notice
  - if alert.present?
    .alert= alert

  .center-container
    = yield
