!!!
%html{lang: 'en'}
  %head
    = display_meta_tags :site => 'Matt Ryder, Ruby on Rails Developer', :title => 'Hello', :reverse => true
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{name: 'viewport', content: "width=device-width", "initial-scale" => 1}
  %body
    .body-intro
      #intro
        .text
          %h2 Matt Ryder
          %h3 Ruby on Rails Developer

      %nav.navbar
        .container-fluid
          .navbar-header
            %button.navbar-toggle.collapsed{"data-target" => "#navibar", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar

          #navibar.collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li
                = link_to "Posts", posts_path
              %li
                = link_to  "Github", "https://github.com/MattRyder"
              %li
                = link_to "LinkedIn", "https://uk.linkedin.com/pub/matt-ryder/a7/a2/668/"
              %li
                = link_to "Twitter", "https://twitter.com/CSMattRyder"

#intro-content
  .alpha
    %section
      %h3 Not all software is created equal
      %p I'm a pure software engineer, from requirements analysis through to implementation, anything less than 100% is an affront to the client.

    %section
      %h3 Including and not limited to...
      %p Software development is a huge part of who I am, so I invest a lot of time working with as many languages and tools as I can.
      %p I have professional experience with Ruby and C#; far too much knowledge of Java, PHP and Javascript; and I'm branching out into C++ and Rust.
      %p All of the products I build with these eventually make their way onto Github, so check that out to find what I'm currently playing about with.

    .cee-tee-ay
      %section
        %span If you think I can help you, please
        = mail_to "matt@mattryder.co.uk", "drop me a line!"